@import "bourbon/_bourbon.scss";

$gray-bg-color: #F2F2F2;
$dark-blue-color:#283645;
$pink-color:#DB738A;
$dark-pink-color:#D22856;

$normal:400;
$light:300;
$bold:700;

$screen-mobile:320px;
$screen-small:700px;
$screen-medium:1200px;
$screen-big:1440px;




